.Main{
    border: solid green;
    background-image: url('../../img/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 70vh; 
    display: flex;
}

.TextBox{
    width: 23%;
    height: 23%;
    border: solid whitesmoke;
    color: white;
}
    