header{
    // border: solid 2px white;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,27,47,1) 0%, rgba(0,86,149,1) 88%);
    color: white; 

}

.LogoHeader{
    // border: solid 2px white;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav{
    // border: solid white;
    width: 40%;
 
    ul{
        display: flex;
        align-items: center;
    }
    li{
        // border: solid white;
        width: 100%;

    }
}


.link{
        color: #fff;
        font-size: 20px;
        text-decoration: none; 
    }

.BarradeBusca{
    border: solid 2px white;
    width: 17vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding-right: 20px;
    margin-right: 20px;

    button{
    border:none;
    background-color: transparent;

    }
}
.BoxInput{
    border:none;
    outline: none;
    background-color: transparent;
    padding-left: 15px;
    color: white;
    font-size: 17px;
    &::placeholder{
        color: white;
    }
 
}   
